node_modules
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
.solid
.output
.vercel
.netlify
.vinxi
netlify

# App specific
.refreshtoken
.accesstoken

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
